.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 24px;
    padding: 1rem;
}

.price_row {
    font-size: 24px;
    padding: 4px;
}

.cart_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 9.5em;
    padding: 4px 8px;
    background-color: var(--default-color);
    color: #fff;
    border: none;
    font-size: 0.75rem;
}

.description {
    padding: 2rem 2rem 2rem 1rem;
    font-size: 12px;
}
