.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 24px;
    padding: 1.5rem;
}

.name {
    padding-bottom: 1rem;
}

.price_and_cart_button {
    display: flex;
    gap: 0.5rem;
}

.price_row {
    font-size: 24px;
    padding: 4px;
}

.cart_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    white-space: nowrap;
    background-color: var(--default-color);
    color: #fff;
    border: none;
    font-size: 0.75rem;
}

.description {
    padding: 1.5rem;
    font-size: 0.75rem;
    text-align: justify;
    hyphens: auto;
}

.loading {
    font-size: 24px;
    padding: 1.5rem;
}

@media (min-width: 320px) {
    .header {
        flex-direction: row;
        padding: 2rem;
    }

    .name {
        padding: 0 1rem 0 0;
    }

    .price_and_cart_button {
        flex-direction: column;
        gap: 4px;
    }

    .description {
        padding: 2rem;
        font-size: inherit;
    }

    .loading {
        padding: 2rem;
    }
}
