/* .container > div:nth-child(n+4) {
    display: none;
}
 */

.pagination_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_buttons>button {
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: #fff;
}

.pagination_buttons>span {
    padding: 0 1rem;
}
