.card {
    width: 300px;
    min-height: 400px;
    margin: 40px 30px 250px 30px;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.2), inset 4px 0 0 0 #37474F;
    line-height: 1.2;
}

.title {
    font-size: 24px;
    padding: 1.7em 2em;
    text-align: center;
}

.description {
    font-size: 16px;
    padding: 0 2em;
}

.button {
    display: inline-block;
    position: relative;
    left: 9em;
    bottom: 1em;
    padding: 1em 2em;
    max-width: 9em;
    border: none;
    z-index: -1;
    background-color: #37474F;
    color: #fff;
    text-decoration-line: none;
}
