.card {
    width: 300px;
    margin: 2em 1em;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.2), inset 4px 0 0 0 #37474F;
    line-height: 1.2;
}

.title {
    font-size: 24px;
    padding: 1em 2em;
    text-align: center;
}

.description {
    font-size: 16px;
    padding: 0 2em;
}

.button_container {
    display: flex;
    justify-content: end;
}

.button {
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background-color: #37474F;
    color: #fff;
    text-decoration-line: none;
}

.red {
    color: red;
}
