.card {
    width: 300px;
    margin: 2em 1em;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.2;
}

.card::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: var(--theme-color);
}

.title {
    font-size: 24px;
    padding: 1em 2em;
    text-align: center;
}

.description {
    font-size: 16px;
    padding: 0 2em;
}

.button_container {
    display: flex;
    justify-content: end;
}

.button {
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background-color: var(--theme-color);
    color: #fff;
    text-decoration-line: none;
}

.close_button {
    position: absolute;
    top: 8px;
    right: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--default-color);
}
