.container {
    width: 360px;
    height: 100px;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.title {
    height: 100px;
    background-color: #37474f;
    color: #fff;
}

.icon {
    color: #fff;
}

