@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

.collapsed {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    /* width: 300px; */
    padding: 0 1.25em;
    /* font-family: "Source Sans Pro", sans-serif; */
    line-height: 1.2;
    background-color: var(--background-grey);
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.expanded {
    margin: 0.5em 0;
}

.expanded:first-of-type {
    margin-top: 0;
}

.expanded::before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: var(--theme-color);
    position: absolute;
    left: 0;
}

.collapsed::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 90%;
    left: 5%;
    top: -1px;
    background-color: #78909c;
}

.expanded::after {
    display: none;
}

.collapsed:first-of-type::after {
    display: none;
}

.expanded + .collapsed::after {
    display: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0;
}

.title__text {
    font-size: 1em;
}

.icon {
    color: #37474F;
}

.content {
    font-size: 0.75em;
    padding: 0 0.5em 1em 0;
}

.content__collapsed {
    display: none;
}

