@import-normalize;

html {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #eee;
    font-family: "Source Sans Pro", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
    --default-color: #37474F;
    --image-grey: #cfd8dc;
    --background-grey: #eceff1;
    --stroke-grey: #78909c;
    --executing: #7b2481;
    --influencing: #e97200;
    --relationship-building: #0070cd;
    --strategic-thinking: #00945d;
    --theme-color: var(--default-color);
}

#root {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@media (min-width: 480px) {
    #root {
        width: 480px;
    }
}
