.container {
    width: 360px;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    height: 100px;
    background-color: #e97200;
    color: #fff;
}

